@model MHD.Models.TeamsModel
@{
    ViewBag.Title = "GetContent";
    Layout = "~/Views/Shared/_Layout_Receptionist.cshtml";
}


<div id="content" class="content">

    <!-- begin panel -->

    <div class="panel panel-inverse">
        <!-- begin panel-heading -->
        <div class="panel-heading">
            <h4 class="panel-title">Packages</h4>
        </div>
        <a href="#modal-dialog" class="btn btn-lg btn-success pull-right m-15" data-toggle="modal">ADD</a>
        <!-- end panel-heading -->
        <!-- begin panel-body -->
        <div class="panel-body">
            <table id="data-table-buttons" class=" table-responsive table-hover employees-table table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="1%" type="hidden"></th>
                        <th class="text-center">Team Name</th>
                        <th class="text-center">Creator</th>
                        <th class="text-center">Date Updated</th>
                        <th class="text-center">Packages</th>
                        <th class="text-center">Dashers</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var data in Model.Teams)
                    {
                    <tr class="gradeU">
                        <td class="table_id f-s-600 text-center" type="hidden">@data.team_id</td>
                        <td class="text-center"><b>@data.team_name</b></td>
                        <td style="text-transform:uppercase" class="text-center">@data.team_creator</td>
                        <td class="text-center">@data.date_updated</td>
                        <td class="text-center">
                           <button type="button" class="btn btn-primary">
                                    @Html.ActionLink("View Packages","Packages",
                                   "Receptionist",new { teamid = data.team_id},new { @class="text-white"})
                                </button>
                           
                        </td>
                        <td class="text-center">
                            <a href="ViewDashers?team=@data.team_id&teamname=@data.team_name">
                                <button type="button" class="btn btn-success">View Dashers</button>
                            </a>

                        </td>
                        <td class="text-center">
                            <a href="#edit-modal-dialog" onclick="openDialog(@data.team_id,
            '@data.team_name','@data.team_description')" data-toggle="edit-team-modal">
                                <button type="button" class="btn btn-success">Edit</button>
                            </a>
                        </td>
                        <td class="text-center">
                            <a onclick="dispose(@data.team_id)" >
                                <button type="button" class="btn btn-danger">Dispose</button>
                            </a>
                        </td>

                    </tr>

                    }

                </tbody>
            </table>
        </div>
        <!-- end panel-body -->
    </div>

</div>


<!-- modal for add new team -->
<div class="modal fade" id="modal-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Team</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="register-content">
                    <form action="" id="new-team" class="margin-bottom-0">
                        <label class="control-label">Team Name <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="teamname" placeholder=" " required />
                            </div>
                        </div>

                        <label class="control-label">Description <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <textarea class="form-control m-b-10" name="teamdesc" rows="7"></textarea>

                            </div>
                        </div>
                        <p class="text-center invalid-feedback" style="display: none;" id="error_request">
                            Account Already Exists.
                        </p>


                        <hr />



                        <div class="modal-footer">
                            <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>

                            <div class="register-buttons">
                                <button type="submit" name="add_new_team" class="btn btn-primary btn-block">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end modal for add new team -->
<!-- modal for edit team -->

<div class="edit-team-modal modal fade" id="edit-modal-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="register-content">
                    <form action="" id="edit-team" method="POST" class="margin-bottom-0">
                        <meta name="csrf-token" id="csrf-token" content="{{ csrf_token() }}">
                        <label class="control-label">Team Name <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="edit_team_name" name="teamname" placeholder=" " required />
                            </div>
                        </div>

                        <label class="control-label">Description <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <textarea class="form-control m-b-10" id="edit_team_desc" name="teamdesc" rows="7"></textarea>

                            </div>
                        </div>
                        <input type="hidden" name="_token" id="token" value="{{ csrf_token() }}">
                        <p class="text-center invalid-feedback" style="display: none;" id="edit_team_error_request">
                            Account Already Exists.
                        </p>


                        <hr />


                        <div class="modal-footer">
                            <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                            <div class="register-buttons">
                                <button type="submit" name="edit-team" class="btn btn-primary btn-block">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end modal for edit team -->
<script src="~/wwwroot/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script src="~/wwwroot/assets/plugins/jquery-ui/jquery-ui.min.js"></script>

<script src="~/wwwroot/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/wwwroot/assets/js/demo/table-manage-buttons.demo.min.js"></script>
<script src="~/wwwroot/assets/js/demo/ui-modal-notification.demo.min.js"></script>
<script src="~/wwwroot/assets/plugins/gritter/js/jquery.gritter.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        TableManageButtons.init();
    });
</script>
<script type="text/javascript">

    function dispose(id) {
        var formData = {
            'teamid': id
        };
        $.ajax({
            type: 'post',
            url: '/Receptionist/DisposeTeam',
            data: formData,
            success: function (response) {
                console.log(obj);
                var obj = JSON.parse(response);
                if (obj.RESULT == "ERROR") {
                    if (obj.ERROR_CODE == 2627) {

                    }
                } 
                else window.location = '/Receptionist/GetContent/';


            }
        });
    }

         $(function () {

    $('#new-team').on('submit', function (e) {
    e.preventDefault();
    var formData = {
        'teamname': $('input[name=teamname]').val(),
    'teamdesc'             : $('textarea[name=teamdesc]').val(),
    '_token': "{{ csrf_token() }}"
    };
    $.ajax({
    type: 'post',
    url: '/Receptionist/CreateTeam',
    data: formData,
    success: function (response) {
    var obj = JSON.parse(response);
    console.log(obj);
    if(obj.RESULT=="ERROR"){
        if(obj.ERROR_CODE==2627){
        var x = document.getElementById("error_request");
        x.innerHTML = "error";
        x.style.display = "block";
        }
    }
        else window.location ='/Receptionist/GetContent/';
    }
    });

    });
});
</script>

<script type="text/javascript">

        function openDialog(id, name, desc) {
            $('#edit_team_name').val(name);
            $('#edit_team_desc').val(desc);
            $('#edit-modal-dialog').modal('show');
            $teamid = id;
         $("#edit-team").on("submit",function(e){
    e.preventDefault();
    var formData = {
        'teamid': $teamid,
        'newteamname': $('input[id=edit_team_name]').val(),
        'newteamdesc': $('textarea[id=edit_team_desc]').val(),
        '_token': "{{ csrf_token() }}"
    };

    $.ajax({
    type: 'post',
    url: '/Receptionist/UpdateTeam',
    data: formData,
    success: function (response) {

    console.log(obj);
    var obj = JSON.parse(response);
        if (obj.RESULT == "ERROR") {
            if (obj.ERROR_CODE == 2627) {
                var x = document.getElementById("edit_dasher_error_request");
                x.innerHTML = "Phone Number is Already Used";
                x.style.display = "block";
            }
        }
        else window.location.href = '/Receptionist/GetContent';
    }
    });

});
     }

</script>



