@model MHD.Models.ItemRequests.ItemRequestsModel
@{
    ViewBag.Title = "Requests";
    Layout = "~/Views/Shared/_Layout_Receptionist.cshtml";
}

<div id="content" class="content">

    <!-- begin panel -->

    <div class="panel panel-inverse">
        <!-- begin panel-heading -->
        <div class="panel-heading">

            <h4 class="panel-title">My Home Dasher</h4>
        </div>
        <a href="#modal-dialog" class="btn btn-lg btn-success pull-right m-15" data-toggle="modal">ADD</a>
        <!-- end panel-heading -->
        <!-- begin panel-body -->
        <div class="panel-body table-responsive">
            <table id="data-table-buttons" class="  table-hover employees-table table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" width="5%"  data-orderable="false">Request ID</th>
                        <th class="text-center"  width="20%">Client Name</th>
                        <th class="text-center" width="20%">Establishment</th>
                        <th class="text-center">Team Dashers</th>
                        <th class="text-center">Date To Buy</th>
                        <th class="text-center">Mode of Transfer</th>
                        <th class="text-center">Assign Dasher</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.ItemRequests)
                    {
                    <tr class="gradeU">
                        <td class="table_id f-s-12 text-center" type="hidden">@data.requestid</td>
                        <td class="text-center"><b>@data.requestor</b></td>
                        <td style="text-transform:uppercase" class="text-center">@data.property</td>
                        <td class="text-center">@data.teamname</td>
                        <td class="text-center">@data.datetobuy</td>
                        <td class="text-center">@data.modeoftransfer</td>
                        <td class="text-center">
                            <a onclick="">
                                <button type="button" class="btn btn-danger">Assign</button>
                            </a>
                        </td>
                        <td class="text-center">
                            <a onclick="DisposeRequest(@data.requestid)">
                                <button type="button" class="btn btn-danger">Dispose</button>
                            </a>
                        </td>

                    </tr>

                    }
                </tbody>
            </table>
        </div>
        <!-- end panel-body -->
    </div>

</div>



<!-- modal for add new team -->
<div class="modal fade" id="modal-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Dasher</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="register-content">
                    <form action="" id="new-dasher" class="margin-bottom-0">
                        <meta name="csrf-token" id="csrf-token" content="{{ csrf_token() }}">

                        <div class="row row-space-10">
                            <div class="col-md-6">
                                <label class="control-label">First Name <span class="text-danger">*</span></label>
                                <div class="row m-b-15">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" name="firstname" placeholder=" " required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Last Name <span class="text-danger">*</span></label>
                                <div class="row m-b-15">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" name="lastname" placeholder=" " required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space-10">
                            <div class="col-md-6">
                                <label class="control-label">Phone Number <span class="text-danger">*</span></label>
                                <div class="row m-b-15">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" name="phonenumber" placeholder=" " required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Car Details</label>
                                <div class="row m-b-15">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" name="cardetails" placeholder=" " required />
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>

                <div class="row row-space-10">

                    <div class="col-md-6">
                        <label class="control-label">Applicant Screened?<span class="text-danger">*</span></label>
                        <div class="row m-b-5">
                            <div class="col-md-12 ">

                                <input type="checkbox" data-render="switchery" data-theme="blue" data-change="check-switchery-state-text" id="applicant_screened" checked />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" id="date_screened">
                        <label class="control-label">Date Screened</label>

                        <div class="row m-b-5">
                            <div class="col-md-12 ">

                                <div class="input-group date" id="datepicker-default">
                                    <input type="text" class="form-control datetimetotransact" id="datetimetotransact" name="datescreened">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="_token" id="token" value="{{ csrf_token() }}">
                <p class="text-center invalid-feedback" style="display: none;" id="error_request">
                    Account Already Exists.
                </p>

            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>

                <div class="register-buttons">
                    <button type="submit" name="add_new_team" class="btn btn-primary btn-block">Add</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- end modal for add new team -->
<!-- modal for edit dasher -->
<div class=" modal fade" id="edit-dasher-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Dasher</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="register-content">
                    <form action="" id="edit-dasher" class="margin-bottom-0">
                        <meta name="csrf-token" id="csrf-token" content="{{ csrf_token() }}">

                        <div class="row row-space-10">
                            <div class="col-md-6">
                                <label class="control-label">First Name <span class="text-danger">*</span></label>
                                <div class="row m-b-15">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="editfirstname" placeholder=" " required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Last Name <span class="text-danger">*</span></label>
                                <div class="row m-b-15">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="editlastname" placeholder=" " required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space-10">
                            <div class="col-md-6">
                                <label class="control-label">Phone Number <span class="text-danger">*</span></label>
                                <div class="row m-b-15">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="editphonenumber" placeholder=" " required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Car Details</label>
                                <div class="row m-b-15">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="editcardetails" placeholder=" " required />
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>

                <div class="row row-space-10">

                    <div class="col-md-6">
                        <label class="control-label">Applicant Screened?<span class="text-danger">*</span></label>
                        <div class="row m-b-5">
                            <div class="col-md-12 ">

                                <input type="checkbox" data-render="switchery" data-theme="blue" data-change="check-switchery-state-text" id="editscreened" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" id="edit_datescreened">
                        <label class="control-label">Date Screened</label>

                        <div class="row m-b-5">
                            <div class="col-md-12 ">

                                <div class="input-group date" id="edit_datescreened">
                                    <input type="text" class="form-control datetimetotransact" id="editdatescreened" name="editdatescreened">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-center invalid-feedback" style="display: none;" id="edit_dasher_error_request">
                    Account Already Exists.
                </p>

            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>

                <div class="register-buttons">
                    <button type="submit" name="add_new_team" class="btn btn-primary btn-block">Update</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- end modal for add new team -->

<script src="~/wwwroot/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script src="~/wwwroot/assets/plugins/jquery-ui/jquery-ui.min.js"></script>

<link href="~/wwwroot/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/wwwroot/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<link href="~/wwwroot/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
<script src="~/wwwroot/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/wwwroot/assets/plugins/bootstrap-daterangepicker/moment.js"></script>
<script src="~/wwwroot/assets/js/demo/form-plugins.demo.min.js"></script>

<link href="~/wwwroot/assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
<script src="~/wwwroot/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js"></script>
<script src="~/wwwroot/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/wwwroot/assets/js/demo/table-manage-buttons.demo.min.js"></script>

<script src="~/wwwroot/assets/js/demo/form-slider-switcher.demo.min.js"></script>
<script src="~/wwwroot/assets/plugins/switchery/switchery.min.js"></script>

<script src="~/wwwroot/assets/plugins/parsley/dist/parsley.js"></script>
<script src="~/wwwroot/assets/plugins/jquery-smart-wizard/src/js/jquery.smartWizard.js"></script>
<script src="~/wwwroot/assets/js/demo/form-wizards-validation.demo.min.js"></script>

<script type="text/javascript">
    function DisposeRequest(requestid) {
        var formData = {
            'requestid': requestid
        };
        $.ajax({
            type: 'post',
            url: '/Receptionist/DisposeRequest',
            data: formData,
            success: function (response) {
                var obj = JSON.parse(response);
                console.log(obj);
                if (obj[0].RESULT == "ERROR") {
                    alert("error");
                }
                //else window.location = '/Receptionist/Requests';
            }
        });
    }
</script>
<script>

    $(document).ready(function () {
        TableManageButtons.init();
        App.init();
</script>